*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0f172a;
    color:#fff;
}

.container{
    width:100%;
    max-width:430px;
    margin:auto;
    padding:20px;
}

.logo{
    text-align:center;
    font-size:30px;
    color:#00ff88;
    margin:20px 0;
}

.card{
    background:#1e293b;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 4px 10px rgba(0,0,0,.3);
}

#userInfo{
    text-align:center;
    line-height:30px;
    font-size:18px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    font-size:18px;
    background:#00c853;
    color:#fff;
    cursor:pointer;
    margin-top:10px;
}

button:active{
    transform:scale(.98);
}

#balance{
    text-align:center;
    color:#00ff88;
    font-size:40px;
    margin-top:15px;
}

.menu{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:12px;
    margin-top:20px;
}

.menu button{
    background:#2563eb;
}

#dashboardPage{
    display:none;
}

@media(max-width:480px){

.logo{
    font-size:26px;
}

button{
    font-size:16px;
    padding:13px;
}

#balance{
    font-size:34px;
}

}
